..tmp_kallsyms1.o.cmd
..tmp_kallsyms2.o.cmd
..tmp_vmlinux1.cmd
..tmp_vmlinux2.cmd
.config
.config.old
.missing-syscalls.d
.tmp_System.map
.tmp_kallsyms1.S
.tmp_kallsyms1.o
.tmp_kallsyms2.S
.tmp_kallsyms2.o
.tmp_vmlinux1
.tmp_vmlinux2
.version
.vmlinux.cmd
.vmlinux.o.cmd
Module.symvers
System.map
arch/arm/boot/.Image.cmd
arch/arm/boot/.uImage.cmd
arch/arm/boot/.zImage.cmd
arch/arm/boot/Image
arch/arm/boot/compressed/.decompress.o.cmd
arch/arm/boot/compressed/.head.o.cmd
arch/arm/boot/compressed/.lib1funcs.o.cmd
arch/arm/boot/compressed/.misc.o.cmd
arch/arm/boot/compressed/.piggy.gzip.cmd
arch/arm/boot/compressed/.piggy.gzip.o.cmd
arch/arm/boot/compressed/.string.o.cmd
arch/arm/boot/compressed/.vmlinux.cmd
*.o
*.cmd
*.o.cmd
arch/arm/boot/compressed/piggy.gzip
arch/arm/boot/compressed/vmlinux.lds
arch/arm/boot/uImage
arch/arm/boot/zImage
arch/arm/include/generated/
arch/arm/kernel/asm-offsets.s
arch/arm/kernel/vmlinux.lds
arch/arm/lib/lib.a
drivers/tty/vt/consolemap_deftbl.c
drivers/tty/vt/defkeymap.c
drivers/video/logo/clut_vga16.c
drivers/video/logo/logo_blackfin_clut224.c
drivers/video/logo/logo_blackfin_vga16.c
drivers/video/logo/logo_dec_clut224.c
drivers/video/logo/logo_linux_clut224.c
drivers/video/logo/logo_linux_mono.c
drivers/video/logo/logo_linux_vga16.c
drivers/video/logo/logo_m32r_clut224.c
drivers/video/logo/logo_mac_clut224.c
drivers/video/logo/logo_parisc_clut224.c
drivers/video/logo/logo_sgi_clut224.c
drivers/video/logo/logo_spe_clut224.c
drivers/video/logo/logo_sun_clut224.c
drivers/video/logo/logo_superh_clut224.c
drivers/video/logo/logo_superh_mono.c
drivers/video/logo/logo_superh_vga16.c
include/config/
include/generated/
include/linux/version.h
kernel/bounds.s
kernel/config_data.gz
kernel/config_data.h
kernel/timeconst.h
lib/crc32table.h
lib/gen_crc32table
lib/lib.a
scripts/basic/fixdep
scripts/bin2c
scripts/conmakehash
scripts/dtc/dtc
scripts/genksyms/genksyms
scripts/kallsyms
scripts/kconfig/conf
scripts/kconfig/mconf
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.lex.c
scripts/kconfig/zconf.tab.c
scripts/mod/elfconfig.h
scripts/mod/mk_elfconfig
scripts/mod/modpost
scripts/pnmtologo
security/tomoyo/builtin-policy.h
security/tomoyo/policy/
usr/.initramfs_data.cpio.d
sound/usb/usx2y/.built-in.o.cmd
sound/usb/usx2y/built-in.o
usr/gen_init_cpio
usr/initramfs_data.cpio
usr/initramfs_data.o
vmlinux
vmlinux.o
